In [13]:
import sqlite3

connection=sqlite3.connect('Shool_N68.db')

create_table='create table if not exists Class11(id int, LastName text,Name text, Grade int)'
insert_values='''insert into Class11 values (1, 'Murzayev', 'Umidjon', 4), (2, 'Xayrullayev', 'Nematillo', 5), 
(3, 'Kushabayev', 'Elyor', 5), (4, 'Kamolov', 'Haydar', 4)
'''
cursor=connection.cursor()
cursor.execute(create_table)
cursor.execute(insert_values)
connection.commit()
connection.close()

In [14]:
connection=sqlite3.connect('Shool_N68.db')
cursor=connection.cursor()

update1='''update class11 set grade=5 where id=1
          
'''
update2='''update class11 set name=?, grade=? where id=3
'''
update3='update class11 set grade=grade+1'

# drop='drop table class11'

# cursor.execute(drop)
cursor.execute(update3)
cursor.execute(update2,('Sarvar', 4))
cursor.execute(update1)
connection.commit()
connection.close()